.DS_Store
._.DS_Store
.vscode/
*.mat
*.ai
*.eps
*.csv
*.nwb
*.json
*.rar
*.pyc
*.pkl
*.dat
*.out
*.o
*.jpg
*.npy
*.npz
*.h5
HH/data
bin/
*.log
*.egg-info
__pycache__/
logs/
results/
scripts/benchmark/N10/
scripts/benchmark/N100/
